* {
    margin: 0;
    padding: 0;
    font-family: "Gaegu", sans-serif;
    font-size: 25px;
    color: rgb(46, 34, 19);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
}

nav {
    padding-right: 15%;
}
.logo {
    padding-top: 10px;
    padding-left: 15%;
}
ul {
    list-style-type: none;
    display: flex;
}

li {
    padding: 0px 20px 2px 20px;
}

li:hover {
    /*font-size: 28px; this makes it move?*/
    text-shadow: 2px 2px 5px rgb(194, 113, 127);
}

a {
    text-decoration: none;
}


.first {
    padding: 100px 0px 100px 0px;
    background-color: pink;
    display: flex;
    justify-content: space-around;
}

h1 {
    font-size: 80px;
    font-family: "Sacramento", sans-serif;
}

/*
.box-1 {
    padding: 0px 50px 0px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
*/



.fb {
    width: 35%;
}

.sign-in-button {
    max-width: 110px;

    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;

    background-color: antiquewhite;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(158, 137, 110);
  }
  
  .sign-in-button:hover {background-color: antiquewhite}
  
  .sign-in-button:active {
    background-color: antiquewhite;
    box-shadow: 0 5px rgb(88, 80, 70);
    transform: translateY(4px);
  }

.carlotta {
    padding: 0px 50px 0px 100px;
    width: auto;
    max-width: 500px;
    height: auto;
    max-height: 333px;
}

.lace {
	height: 70px;
	background: antiquewhite;
}

.three  {
	background-image: radial-gradient(circle at 15px 0, rgba(255,255,255,0) 14px, pink 15px, rgba(255,255,255,0) 16px),
					radial-gradient(circle at 15px 0, rgba(255,255,255,0) 14px, pink 15px, rgba(255,255,255,0) 16px),
					radial-gradient(circle at 15px 0, rgba(255,255,255,0) 4px, pink 5px, rgba(255,255,255,0) 6px),
					radial-gradient(circle at 5px 5px, rgba(255,255,255,0) 1px, pink 2px, rgba(255,255,255,0) 3px);
	background-repeat: repeat-x;
	background-position: 0 0, 15px 6px, 0 0, 25px 9px;
	background-size: 30px 21px, 30px 21px, 30px 21px, 30px 20px;
}


.second {
    background-color: antiquewhite;
    padding-bottom: 130px;
}

h2 {
    text-align: center;
    font-size: 50px;
    padding-bottom: 40px;
}

.box-3 {
    padding: 0px 300px 0px 300px;
    display: flex;
    justify-content: space-between;
}

.ugh {
    width: 200px;
    height: 200px;
    margin:auto;
    border: 30px solid pink;
    border-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/pink-doily-bdr.png") 30;

}

.agh {
    text-align: center;
}